.dream {
  width: 100%;
  height: 100%;
  border: solid 1px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.strip {
  width: 130%;
  height: 60%;
  flex-shrink: 0;
  border-radius: 50%;
  background: #ffe14f;
  position: absolute;
  bottom: 0%;
  left: -15%;
  z-index: 1;
}
