.background {
  height: 25%;
  z-index: 4;
  background: #fefaef;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px 50px 0px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.stepchoice {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border-radius: 100px;
  width: 74px;
  height: 40px;
  border: 2px solid var(--unnamed, #12151c);
  background: #fff;
  margin: 2% 5%;
  color: #191919;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.button:hover {
  background: rgba(255, 197, 51, 1);
}

.line {
  width: 30px;
  height: 5px;
  background: #bdbdbd;
  border-radius: 10px;
  position: absolute;
  left: 48%;
  top: 8%;
}

.blackline {
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background: var(--label-color-light-primary, #000);
  position: absolute;
  left: 39.5%;
  bottom: 2%;
}

.hidden {
  visibility: hidden;
}
