@import url("https://webfontworld.github.io/LotteriaChab/LotteriaChab.css");

.background {
  height: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.light {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  position: absolute;
  top: 12%;
  left: 3%;
}

.title {
  color: #ff6d00;
  font-family: "LotteriaChab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.explanation {
  margin: 0;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.step {
  color: #191919;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 0;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}
