@import url("https://webfontworld.github.io/LotteriaChab/LotteriaChab.css");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50%;
}

.logo {
  color: #ff6d00;
  text-align: center;
  font-family: "LotteriaChab";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 55.556% */
  margin-top: 30%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    139deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(5px);
  height: 50%;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  border: 1px solid #fff;
}

.buttonzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
  width: 100%;
  height: 70%;
}

.textzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.KakaoButton {
  width: 80%;
  aspect-ratio: 298 / 56;
  border-radius: 100px;
  background: var(--school-bus-yellow, #ffde03);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.KakaoButton img {
  width: 8%;
  aspect-ratio: 1 / 1;
}

.KakaoButton p {
  width: 75%;
  aspect-ratio: 162 / 20;
  color: #191919;
  text-align: center;
  font-family: Pretendard;
  font-size: 190%;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
}

.GoogleButton {
  width: 80%;
  aspect-ratio: 298 / 56;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GoogleButton img {
  width: 8%;
  aspect-ratio: 1 / 1;
}

.GoogleButton p {
  width: 75%;
  aspect-ratio: 162 / 20;
  color: #191919;
  text-align: center;
  font-family: Pretendard;
  font-size: 190%;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
}

.noline {
  text-decoration: none;
  color: var(--unnamed, #06f);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("../img/loginImg/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.notice {
  font-size: 80%;
  color: #191919;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

@media (max-width: 450px) {
  .KakaoButton {
    height: 25%;
  }

  .GoogleButton {
    height: 25%;
  }

  .KakaoButton p {
    width: 80%;
    aspect-ratio: 162 / 20;
    color: #191919;
    text-align: center;
    font-family: Pretendard;
    font-size: 120%;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
  }

  .KakaoButton img {
    width: 8%;
    aspect-ratio: 1 / 1;
    margin-left: 4%;
  }

  .GoogleButton img {
    width: 8%;
    aspect-ratio: 1 / 1;
    margin-left: 4%;
  }

  .GoogleButton p {
    width: 80%;
    aspect-ratio: 162 / 20;
    color: #191919;
    text-align: center;
    font-family: Pretendard;
    font-size: 120%;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
  }

  .notice {
    margin-left: 10px;
    margin-bottom: 30px;
  }
}
