.hidden {
  display: none;
}

/* face index별 입 style */
.accessory11 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 120px;
  left: 70px;
}
.accessory12 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 120px;
  left: 70px;
}
.accessory13 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 120px;
  left: 65px;
}
.accessory14 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 120px;
  left: 70px;
}
.accessory15 {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 120px;
  left: 85px;
}
.accessory16 {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 120px;
  left: 85px;
}
.accessory21 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 60px;
  left: 210px;
}
.accessory22 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 60px;
  left: 210px;
}
.accessory23 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 60px;
  left: 210px;
}
.accessory24 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 60px;
  left: 210px;
}
.accessory25 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 60px;
  left: 190px;
}
.accessory26 {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 80px;
  left: 195px;
}
.accessory31 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 130px;
  left: 110px;
}
.accessory32 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 130px;
  left: 110px;
}
.accessory33 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 130px;
  left: 105px;
}
.accessory34 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 130px;
  left: 110px;
}
.accessory35 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 130px;
  left: 110px;
}
.accessory36 {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 140px;
  left: 110px;
}
.accessory41 {
  position: absolute;
  width: 130px;
  height: 20px;
  top: 35%;
  left: 83px;
}
.accessory42 {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 130px;
  left: 83px;
}
.accessory43 {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 130px;
  left: 77px;
}
.accessory44 {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 130px;
  left: 83px;
}
.accessory45 {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 130px;
  left: 83px;
}
.accessory46 {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 130px;
  left: 83px;
}
.accessory51 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 95px;
  left: 105px;
}
.accessory52 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 95px;
  left: 105px;
}
.accessory53 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 95px;
  left: 105px;
}
.accessory54 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 95px;
  left: 115px;
}
.accessory55 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 95px;
  left: 100px;
}
.accessory56 {
  position: absolute;
  width: 128px;
  height: 40px;
  top: 115px;
  left: 105px;
}
.accessory61 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
.accessory62 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
.accessory63 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
.accessory64 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
.accessory65 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
.accessory66 {
  position: absolute;
  width: 65px;
  height: 35px;
  top: 10px;
  left: 10px;
}
