.hidden {
  display: none;
}

/* face index별 발1 style */
.foot11 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 170px;
  left: 73px;
  z-index: -1;
}
.foot21 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 170px;
  left: 73px;
  z-index: -1;
}
.foot31 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 180px;
  left: 70px;
  z-index: -1;
}
.foot41 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 160px;
  left: 75px;
  z-index: -1;
}
.foot51 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 160px;
  left: 75px;
  z-index: -1;
}
.foot61 {
  position: absolute;
  width: 154px;
  height: 136px;
  top: 180px;
  left: 75px;
  z-index: -1;
}

/* face index별 발2 style */
.foot12 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 210px;
  left: 88px;
  z-index: -1;
}
.foot22 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 200px;
  left: 88px;
  z-index: -1;
}
.foot32 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 210px;
  left: 85px;
  z-index: -1;
}
.foot42 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 200px;
  left: 88px;
  z-index: -1;
}
.foot52 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 230px;
  left: 92px;
  z-index: -1;
}
.foot62 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 190px;
  left: 92px;
  z-index: -1;
}

/* face index별 발3 style */
.foot13 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 125px;
  left: 65px;
  z-index: -1;
}
.foot23 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 120px;
  left: 62px;
  z-index: -1;
}
.foot33 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 133px;
  left: 55px;
  z-index: -1;
}
.foot43 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 120px;
  left: 62px;
  z-index: -1;
}
.foot53 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 125px;
  left: 65px;
  z-index: -1;
}
.foot63 {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 130px;
  left: 65px;
  z-index: -1;
}
/* face index별 발4 style */
.foot14 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 180px;
  left: 55px;
  z-index: -1;
}
.foot24 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 160px;
  left: 55px;
  z-index: -1;
}
.foot34 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 185px;
  left: 45px;
  z-index: -1;
}
.foot44 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 155px;
  left: 55px;
  z-index: -1;
}
.foot54 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 200px;
  left: 55px;
  z-index: -1;
}
.foot64 {
  position: absolute;
  width: 210px;
  height: 126px;
  top: 180px;
  left: 55px;
  z-index: -1;
}

/* face index별 발5 style */
.foot15 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 215px;
  left: 65px;
  z-index: -1;
}
.foot25 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 200px;
  left: 65px;
  z-index: -1;
}
.foot35 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 220px;
  left: 65px;
  z-index: -1;
}
.foot45 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 190px;
  left: 65px;
  z-index: -1;
}
.foot55 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 240px;
  left: 65px;
  z-index: -1;
}
.foot65 {
  position: absolute;
  width: 170px;
  height: 68px;
  top: 200px;
  left: 65px;
  z-index: -1;
}

/* face index별 발6 style */
.foot16 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 150px;
  left: 80px;
  z-index: -1;
}
.foot26 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 150px;
  left: 80px;
  z-index: -1;
}
.foot36 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 150px;
  left: 80px;
  z-index: -1;
}
.foot46 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 140px;
  left: 80px;
  z-index: -1;
}
.foot56 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 180px;
  left: 80px;
  z-index: -1;
}
.foot66 {
  position: absolute;
  width: 136px;
  height: 156px;
  top: 130px;
  left: 80px;
  z-index: -1;
}
