/* face index별 팔1 style */
.hand11 {
  position: absolute;
  width: 190px;
  height: 72px;
  top: 40%;
  left: 20%;
}
.hand21 {
  position: absolute;
  width: 170px;
  height: 72px;
  top: 32%;
  left: 25%;
}
.hand31 {
  position: absolute;
  width: 160px;
  height: 68px;
  top: 40%;
  left: 23%;
}
.hand41 {
  position: absolute;
  width: 160px;
  height: 68px;
  top: 33%;
  left: 25%;
}
.hand51 {
  position: absolute;
  width: 160px;
  height: 68px;
  top: 46%;
  left: 25%;
}
.hand61 {
  position: absolute;
  width: 180px;
  height: 75px;
  top: 34%;
  left: 22%;
}

/* face index별 팔2 style */
.hand12 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 47%;
  left: 25%;
}
.hand22 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 35%;
  left: 24%;
}
.hand32 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 43%;
  left: 21%;
}
.hand42 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 35%;
  left: 26%;
}
.hand52 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 55%;
  left: 26%;
}
.hand62 {
  position: absolute;
  width: 154px;
  height: 68px;
  top: 37%;
  left: 25%;
}

/* face index별 팔3 style */
.hand13 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 2%;
  left: 4%;
  z-index: -1;
}

.hand23 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 4%;
  left: 3%;
  z-index: -1;
}

.hand33 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 4%;
  left: 5%;
  z-index: -1;
}

.hand43 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 4%;
  left: 5%;
  z-index: -1;
}

.hand53 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 15%;
  left: 3%;
  z-index: -1;
}

.hand63 {
  position: absolute;
  width: 280px;
  height: 100px;
  top: 40px;
  left: 10px;
  z-index: -1;
}

/* face index별 팔4 style */
.hand14 {
  position: absolute;
  width: 270px;
  height: 75px;
  top: 110px;
  left: 15px;
}

.hand24 {
  position: absolute;
  width: 270px;
  height: 75px;
  top: 90px;
  left: 15px;
}

.hand34 {
  position: absolute;
  width: 270px;
  height: 75px;
  top: 100px;
  left: 7px;
}

.hand44 {
  position: absolute;
  width: 270px;
  height: 75px;
  top: 90px;
  left: 15px;
}

.hand54 {
  position: absolute;
  width: 240px;
  height: 60px;
  top: 130px;
  left: 35px;
}

.hand64 {
  position: absolute;
  width: 285px;
  height: 60px;
  top: 120px;
  left: 5px;
}

/* face index별 팔5 style */
.hand15 {
  position: absolute;
  width: 290px;
  height: 80px;
  top: 70px;
  left: 3px;
  z-index: -1;
}

.hand25 {
  position: absolute;
  width: 290px;
  height: 80px;
  top: 70px;
  left: 3px;
  z-index: -1;
}

.hand35 {
  position: absolute;
  width: 290px;
  height: 80px;
  top: 70px;
  left: 0px;
  z-index: -1;
}

.hand45 {
  position: absolute;
  width: 290px;
  height: 80px;
  top: 70px;
  left: 1px;
  z-index: -1;
}

.hand55 {
  position: absolute;
  width: 260px;
  height: 80px;
  top: 85px;
  left: 23px;
  z-index: -1;
}

.hand65 {
  position: absolute;
  width: 280px;
  height: 80px;
  top: 70px;
  left: 10px;
  z-index: -1;
}

/* face index별 팔6 style */
.hand16 {
  position: absolute;
  width: 280px;
  height: 70px;
  top: 50px;
  left: 10px;
  z-index: -1;
}

.hand26 {
  position: absolute;
  width: 280px;
  height: 70px;
  top: 45px;
  left: 8px;
  z-index: -1;
}

.hand36 {
  position: absolute;
  width: 270px;
  height: 60px;
  top: 45px;
  left: 15px;
  z-index: -1;
}

.hand46 {
  position: absolute;
  width: 270px;
  height: 60px;
  top: 45px;
  left: 15px;
  z-index: -1;
}

.hand56 {
  position: absolute;
  width: 270px;
  height: 60px;
  top: 80px;
  left: 16px;
  z-index: -1;
}

.hand66 {
  position: absolute;
  width: 270px;
  height: 60px;
  top: 60px;
  left: 15px;
  z-index: -1;
}

.hidden {
  display: none;
}
