.hidden {
  display: none;
}

/* face index별 코1 style */
.nose11 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 130px;
  left: 123px;
}
.nose12 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 130px;
  left: 123px;
}
.nose13 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 130px;
  left: 117px;
}
.nose14 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 130px;
  left: 123px;
}
.nose15 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 130px;
  left: 123px;
}
.nose16 {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 143px;
  left: 123px;
}
.nose21 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 129px;
  left: 138px;
}
.nose22 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 129px;
  left: 138px;
}
.nose23 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 129px;
  left: 130px;
}
.nose24 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 129px;
  left: 137px;
}
.nose25 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 129px;
  left: 140px;
}
.nose26 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 142px;
  left: 140px;
}
.nose31 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose32 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose33 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 125px;
}
.nose34 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose35 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose36 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 144px;
  left: 133px;
}
.nose41 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose42 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose43 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 125px;
}
.nose44 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 133px;
}
.nose45 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 137px;
}
.nose46 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 143px;
  left: 138px;
}
.nose51 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 136px;
}
.nose52 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 136px;
}
.nose53 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 127px;
}
.nose54 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 136px;
}
.nose55 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  left: 137px;
}
.nose56 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 145px;
  left: 136px;
}
.nose61 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 128px;
  left: 133px;
}
.nose62 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 128px;
  left: 133px;
}
.nose63 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 128px;
  left: 128px;
}
.nose64 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 128px;
  left: 133px;
}
.nose65 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 128px;
  left: 136px;
}
.nose66 {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 148px;
  left: 137px;
}
