.l1-1 {
  width: 342px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #d9d9d9;
  position: relative;
  left:6%;
}
.l2-1 {
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--unnamed, #f26b79);
  width: 57px;
  position: relative;
  top: -6px;
  white-space: pre-line;
  position: relative;
  left:6%;
}
.l3-1 {
  width: 266px;
  height: 108px;
  color: #191919;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  left:15%;
}
.l4-1 {
  width: 300px;
  height: 20px;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.l5-1 {
  width: 342px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #f4f3f9;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #f4f3f9;
}
.l6-1 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid var(--unnamed, #12151c);
  background: #ffe14f;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -60px ;
  left:-2%;
}
.l7-1 {
  width: 335px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid var(--unnamed, #ff7427);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;

  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
}
.l8-1 {
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  padding: 18px;
  background-color: white;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.l10-1 {
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 0px;
  border: 1px solid var(--unnamed, #d9d9d9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 40px;
  color: #767676;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.l11-1 {
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 40px;
  color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  background: var(--unnamed, #ff6d00);
}

.l12-1 {
  width: 140px;
  height: 70px;
  flex-shrink: 0;
}

.l13-1 {
  width: 140px;
  height: 280px;
  background-color: blue;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.key {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.l14-1 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.BackgroundWrap {
  background: #f8f8fa;
}
.Background {
  height: calc(var(--vh, 1vh) * 100);
  max-width: 37.5rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background: #f8f8fa;
}

.l15-1 {
  display: none;
  position: relative;
  top:-40%;
  left: 90%;
}

.l16-1 {
  border: 1px;
  height: 550px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
  position: relative;
  left:7%;
}

.l17-1 {
  width: 390px;
  height: 150px;
  flex-shrink: 0;
  background: #fff;
  /* 프로필 상단 */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.l18-1 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 0 10px 0 0;
}
.l19-1 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  background: var(--unnamed, rgba(25, 25, 25, 0.8));
}
