.l1-1{
  width: 342px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #D9D9D9;
}
.l2-1{
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--unnamed, #F26B79);
  width: 57px;
}
.l3-1{
  width: 266px;
  height: 108px;
  color: #191919;font-family: Pretendard;font-size: 24px;font-style: normal;font-weight: 700;line-height: 36px;
}
.l4-1{
  width: 300px;
  height: 20px;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.l5-1{
  width: 342px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F4F3F9;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;background: #F4F3F9;
}
.l6-1{
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid var(--unnamed, #12151C);
  background: #FFE14F;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.l7-1{
  width: 342px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid var(--unnamed, #ff7427);
  background: #fffef8;
  display: flex;
  align-items: center;

}
.l8-1{
  width: 61px;
  height: 70px;
  flex-shrink: 0;
  padding: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.l10-1{
  width: 140px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F4F3F9;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 18;
}

.l11-1{
  color: #4300D1;
  font-family: Sansation Light;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.l12-1{
  width: 140px;
  height: 70px;
  flex-shrink: 0;
}

.l13-1{
  width: 140px;
  height: 280px;
  background-color: blue;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.key {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.l14-1{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}