.l1-1{
  width: 342px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #D9D9D9;
  position: relative;
  left:25px;
}
.l2-1{
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--unnamed, #F26B79);
  width: 57px;
  position: relative;
  top:-6px;
  white-space: pre-line;
  position: relative;
  left:25px;
}
.l3-1{
  width: 266px;
  height: 108px;
  color: #191919;font-family: Pretendard;font-size: 24px;font-style: normal;font-weight: 700;line-height: 36px;
  position: relative;
  left:25px;
}
.l4-1{
  width: 300px;
  height: 20px;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.l5-1{
  width: 342px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F4F3F9;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;background: #F4F3F9;
}
.l6-1{
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid var(--unnamed, #12151C);
  background: #FFE14F;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top:-62px;
  left:-10px
}
.l7-1{
  width: 335px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid var(--unnamed, #ff7427);
  background: #fffef8;
  display: flex;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
}
.l8-1{
  width: 61px;
  height: 70px;
  flex-shrink: 0;
  padding: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.l10-1{
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #D9D9D9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 40px;
  color: #767676;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.l11-1{
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #D9D9D9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 40px;
  color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  background: var(--unnamed, #FF6D00);;
}

.l12-1{
  width: 140px;
  height: 70px;
  flex-shrink: 0;
}

.l13-1{
  width: 140px;
  height: 280px;
  background-color: blue;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.key {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.l14-1{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.BackgroundWrap{
  background: #F8F8FA;
}
.Background{
  height: calc(var(--vh, 1vh) * 100);
  max-width: 37.5rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background: #F8F8FA;
}

.l15-1{
  display: none;
  position: relative;
  top:-25px;
  left: 300px;
}

.l16-1{
  border: 1px;
  height: 450px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
  position: relative;
  left:25px;
}

.l17-1{
  width: 390px;
  height: 150px;
  flex-shrink: 0;
  background: #FFF;
  /* 프로필 상단 */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}

.l18-1{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #D9D9D9);
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 0 10px 0 0;
}
.l19-1{
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  background: var(--unnamed, rgba(25, 25, 25, 0.80));
}



