.l1-2 {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.l2-2 {
  width: 338px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ffd25d;
}
.l3-2 {
  color: var(--unnamed, #f26b79);
  transform: rotate(7deg);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.l4-2 {
  transform: rotate(-90deg);
  color: #3f3f3f;
  font-family: JHaebaragi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 180% */
  position: relative;
  top: 140px;
  left: -10px;
}

@font-face {
  font-family: "Cafe24Shiningstar"; /* 폰트 이름 지정 (임의의 이름으로 설정 가능) */
  src: url("../font/Cafe24Shiningstar-v2.0/webfont/Cafe24Shiningstar-v2.0.woff")
    format("woff"); /* 폰트 파일 경로 지정 */
}
.l5-2 {
  transform: rotate(-90deg);
  color: #191919;
  font-family: Cafe24Shiningstar;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 75% */
  position: relative;
  top: 140px;
  left: -35px;
}

.l6-2 {
  transform: rotate(90deg);
  color: #191919;
  text-align: center;
  font-family: LINE Seed Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 68.75% */
  letter-spacing: -0.408px;
  position: relative;
  top: 0px;
  left:120px;
}

.l7-2 {
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
  font-family: KIMM_Light;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  left: 100px;
}

.l8-2 {
  color: #767676;
  font-family: TmonMonsori;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 51.429% */
  position: relative;
  top: -40px;
  left: 20px;
}

.l9-2 {
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: -90px;
  left:-50px;
}

.l10-2 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  fill: var(--unnamed, #12151c);
  background-color: #12151c;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

.FixedFooter {
  position: fixed;
  width: 390px;
  height: 188px;
  flex-shrink: 0;
  border-radius: 50px 50px 0px 0px;
  background: #fff;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.l11-2 {
  display: flex;
  width: 140px;
  height: 52px;
  padding: 30px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f4f3f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 294px;
  height: 322px;
  flex-shrink: 0;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.Modal p {
  margin-bottom: 10px;
}

.Modal button {
  margin-right: 10px;
}

.l12-2 {
  display: flex;
  width: 180px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ff6d00;
  text-align: center;
  font-family: LOTTERIA CHAB;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}

.l13-2 {
  color: #333;
  text-align: center;
  font-family: Cafe24 Ohsquare;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 55% */
  position: relative;
  top: 10px;
}

.l14-2 {
  background-color: #ff6d00;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
}

.l15-2 {
  color: white;
  text-align: center;
}

.l16-2 {
  color: #191919;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.l17-2 {
  color: rgba(25, 25, 25, 0.8);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.l18-2 {
  color: var(--unnamed, #06f);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.l19-2 {
  display: flex;
  width: 246px;
  padding: 14px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--unnamed, #12151c);
  background: var(--unnamed, #f26b79);
}

.l20-2 {
  width: 284px;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.l21-2 {
  width: 212px;
  color: rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.l22-2 {
  width: 287.721px;
  height: 63.218px;
  border-radius: 50%;
  border: 2px solid #f26b79;
  position: relative;
  left: 20px;
}

.l23-2 {
  width: 261.845px;
  height: 70.503px;
  border-radius: 50%;
  border: 2px solid #f26b79;
  transform: rotate(-7deg);
}

.l24-2{
  display: flex;
  width: 246px;
  height: 40px;
  padding: 14px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #12151C);
  background: #F1F1F5;
  margin: 16px;
  position: relative;
  top:-125px;
}

.BackgroundWrap{
  background: #F8F8FA;
}

.Background{
  height: calc(var(--vh, 1vh) * 100);
  max-width: 37.5rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  
}

.l25-2{
  width: 246px;
  height: 40px;
  border-radius: 10px;
  gap:10px;
  border: 1px solid var(--unnamed, #12151C);
  background: var(--unnamed, rgba(25, 25, 25, 0.80));
  position: relative;
  margin: 16px 0 0 16px;
  top:50px;
}