.l1-4{
    color: #191919;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
.l2-4{
    width: 284px;
    color: #191919;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.l3-4{
    width:  162px;
    height: 223px;
    position: relative;
    top:80px;
    left: -20px;
}
.l4-4{
    width:  278px;
    height: 306px;
    position: relative;
    top:-70px;
    left: 50px;
}
.l5-4{
    width: 298px;
    height: 52px;
    flex-shrink: 0;
    border: 1px solid var(--unnamed, #12151C);
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
}
.l6-4{
    width: 298px;
    height: 52px;
    flex-shrink: 0;
    background: var(--unnamed, rgba(25, 25, 25, 0.80));
    position: relative;
    top:-80px;
    left:10px;
    z-index: 1;
}

.l7-4{
    height: 550px;
}

