.card {
  width: 85%;
  height: 87%;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: transform 0.6s, z-index 0.3s;
  -webkit-transition: transform 0.6s, z-index 0.3s;
}

.front {
  top: 2%;
}

.front,
.back {
  position: absolute;
  width: 95%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}
