.l1-1 {
  width: 342px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #d9d9d9;
  position: absolute;
}
.l2-1 {
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--unnamed, #f26b79);
  width: 57px;
  position: relative;
  top: -6px;
  white-space: pre-line;
  position: relative;
  top:0%;
}
.l3-1 {
  width: 320px;
  height: 40px;
  color: #191919;
  font-family: 'Pretendard';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;

}
.l4-1 {
  width: 300px;
  height: 20px;
  color: #191919;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.l5-1 {
  width: 320px;
  height: 70px;
  flex-shrink: 0;
  border: 2px solid #FFF;
  border-radius: 20px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FFF;
  position: relative;
  left:2%;
  z-index: 2;
  color: #191919;
  font-family: 'Pretendard';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}
.l6-1 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid var(--unnamed, #12151c);
  background: #FFDE03;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -40px;
  color: #191919;
  text-align: center;
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}
.l7-1 {
  width: 320px;
  height: 140px;
  border-radius: 20px;
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px 0px rgba(67, 0, 209, 0.10);
  position: relative;
  top:-70px;
  left:5px;
  z-index: 1;

  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
}
.l8-1 {
  width: 68px;
  height: 40px;
  flex-shrink: 0;
  background-color: white;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
  margin: 27% 1.8%;
  position: relative;
  color: #767676;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.l10-1 {
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 35px;
  color: #767676;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  margin: 26% 8%;
}

.l11-1 {
  display: flex;
  width: 108px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  margin: 20px 0 0 40px;
  color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  background: var(--unnamed, #ff6d00);
  margin: 30% 9%;
}

.l12-1 {
  width: 140px;
  height: 70px;
  flex-shrink: 0;
}

.l13-1 {
  width: 140px;
  height: 280px;
  background-color: blue;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.key {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.l14-1 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}



.l15-1 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  top: -60%;
  left: 90%;
  z-index: 3;
}

.l16-1 {
  border: 1px;
  height: 460px; /*380px*/
  overflow: scroll;
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
  position: relative;
}

.l17-1 {
  display: flex;
  justify-content: center;
  width: 390px;
  height: 180px;
  flex-shrink: 0;
  background: #fff;
  /* 프로필 상단 */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.l18-1 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--unnamed, #d9d9d9);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 25% 2.5%;
  position: relative;
  padding: 0 0 0 0px;
  color: var(--unnamed, #FF6D00);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.l19-1 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  background: var(--unnamed, rgba(25, 25, 25, 0.8));
  position: relative;
  left:2%;
  top:18px;
}
.l20-1{
  width:390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0px auto;
}
.l21-1{
  width: 320px;
  height: 70px;
  flex-shrink: 0;
  border: 2px solid #FF7427;
  border-radius: 20px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FFF;
  position: relative;
  left:2%;
  z-index: 2;
  color: #191919;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}




.l22-1 {
  width: 320px;
  height: 120px;
  border-radius: 20px;
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  box-shadow: 0px 2px 10px 0px rgba(67, 0, 209, 0.10);
  position: relative;
  top:-70px;
  left:5px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
  }
}

.l23-1{
  width: 68px;
  height: 40px;
  flex-shrink: 0;
  background:#FF6D00;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  border: 1px solid var(--unnamed, #d9d9d9);
  margin: 27% 1.8%;
  position: relative;
  color: #767676;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.l24-1{
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

