.l1-4 {
  color: #191919;
  width: 250px;
  font-family: "Pretendard";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  display: flex;
  justify-content: center;
  position: relative;
  top:40px;
  left: -16%;
}
.l2-4 {
  width: 284px;
  color: #191919;
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  position: relative;
  top: 5%;
  left: -7%;
  
}
.l3-4 {
  width: 162px;
  height: 223px;
  position: relative;
  top: 73%;
  left: -13%;
}
.l4-4 {
  width: 278px;
  height: 306px;
  position: relative;
  top: -37%;
  left: 8%;
}
.l5-4 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid var(--unnamed, #12151c);
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -130%;
  left:-5%;
  z-index: 2;
  color: #191919;
  text-align: center;
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}
.l6-4 {
  width: 298px;
  height: 52px;
  flex-shrink: 0;
  background: var(--unnamed, rgba(25, 25, 25, 0.8));
  position: relative;
  top: -75px;
  left: -2%;
  z-index: 1;
}

.l7-4 {
  height: 550px;
}

.Container {
  width: 390px;
  height: 71%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin: 0px auto;
  background: #fefaef;
}

.l8-4{
  position: relative;
  top:2%;
}
.l9-4{
  height: 50%;
  position: relative;
  left:22%;
  top:-50%;
}