.background {
  height: 100%;
  width: 140%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: hidden;
}

.button {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 2px solid rgba(217, 217, 217, 1);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
}

.element {
  max-width: 70%;
  height: auto;
}

/* 두 번째 입 따로 적용  */
.element2 {
  width: 55%;
  left: 25%;
  position: absolute;
}

/* 두 번째 악세사리 따로 적용  */
.element3 {
  width: 32%;
  left: 35%;
  position: absolute;
}

.click {
  border: 4px solid rgba(255, 109, 0, 1);
}

.check {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hidden {
  display: none;
}

button:focus {
  outline: none;
}
