@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.buttonbackground {
    position: relative;
    width: 100%;
    min-height: 62px;
    max-height: 174px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.buttontext {
    font-size: 16px;
    display: inline-block;
    width: 90%; /* 버튼의 너비를 100%로 설정하여 텍스트에 맞게 조정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비로 설정 */
    word-break: break-all;
    font-family: Pretendard;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonArray {
    margin-right: 5%;
    min-width: 100px;
    max-width: 65%;
    min-height: 62px;
    max-height: 100%;
    border-radius: 100px;
    gap: 10px;
    box-shadow: 0px 4px 10px 0px rgba(67, 0, 209, 0.1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
    border: none;
}

.radius_L {
    border-radius: 20px;
}

.radius_S {
    border-radius: 100px;
}

@media (min-width: 768px) {
    .buttonArray {
        margin-right: 3%; /* 768px 이상일 때 적용할 마진 값 */
    }
}

.basic {
    border: 2px solid var(--unnamed, #FF7427);
}

.button_answer {
    position: relative;
    min-width: 100px;
    max-width: 65%;
    min-height: 62px;
    max-height: 100%;
    border: none;
    gap: 10px;
    background-color: rgba(255, 155, 76, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
}

.lock {
    background: url(../../img/QnA_img/lock.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}

.lock_ans {
    background: rgba(255, 155, 76, 1) url(../../img/QnA_img/lock_ans.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}

.answerbackground {
    position: relative;
    width: 100%;
    min-height: 62px;
    max-height: 174px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
}