.buttonbackground {
    position: relative;
    width: 90%;
    height: 62px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.buttontext {
    display: inline-block;
    width: 100%; /* 버튼의 너비를 100%로 설정하여 텍스트에 맞게 조정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비로 설정 */
    word-break: break-all;
}

.buttonArray {
    min-width: 100px;
    max-width: 90%;
    height: 100%;
    border-radius: 100px;
    gap: 10px;
    box-shadow: 0px 4px 10px 0px rgba(67, 0, 209, 0.1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
    border: none;
    position: absolute;
    right: -7%;
}

.basic {
    border: 2px solid var(--unnamed, #FF7427);
}

.button_answer {
    position: relative;
    min-width: 100px;
    max-width: 90%;
    height: 100%;
    border: none;
    border-radius: 100px;
    gap: 10px;
    background-color: rgba(255, 155, 76, 1);
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
}

.lock {
    background: url(../image/lock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.lock_ans {
    background: rgba(255, 155, 76, 1) url(../image/lock_ans.png);
    background-repeat: no-repeat;
    background-position: center;
}