.chat {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    z-index: 7;
}

.answer_input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 13px;
}

.answer_input::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    text-align: left;
}

.answer_button {
    background-image: url('../image/flight_ui.png');
    background-position: calc(100% - 10px) center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 1);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-right: 10px;
}