@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100%;
    border: solid 1px;
    height: 100%;
    background: rgba(255, 210, 93, 1);
}

.draw {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    background: rgba(255, 210, 93, 1);
    z-index: 4;
}

.buttonbackground {
    position: relative;
    display: flex;
    width: 100%;
    height: 62px;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 226px;
    height: 58px;
    border: 1px solid var(--unnamed, #12151C);
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(67, 0, 209, 0.10);
    display: inline-flex;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 4;
    font-family: Pretendard;
}

.btnshadow {
    width: 226px;
    height: 58px;
    background: rgba(25, 25, 25, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -45%);
    z-index: 3;
}
