@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.img_ques {
    width: 60px;
    height: 40px;
    margin-right: 5%;
    margin-top: 2%;
}

.p_style {
    color: #767676;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-left: 5%;
}

.sharezone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.delzone {
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
}

.controlzone {
    width: 370px;
    height: 140px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
}

.closezone {
    width: 370px;
    height: 60px;
    margin-top: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_style2 {
    color: #F26B79;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

/* EditAns_Modal 전용 스타일 */

.sharezone_ans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 50%;
    border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.delzone_ans {
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    width: 96%;
    height: 50%;
}