@font-face {
  font-family: 'Fontdiner Swanky'; /* 폰트 이름 지정 */
  src: url('../../font/FontdinerSwanky-Regular.ttf') format('woff');
}

.dream {
  width: 100%;
  height: 100%;
}

.name {
  color: #191919;
  font-family: Fontdiner Swanky;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
