@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100%;
    border: solid 1px;
    height: 100%;
}

.draw {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    background: rgba(255, 255, 255, 1);
    z-index: 4;
}

.title {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    margin-top: 10px;
}

.Arrow_left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
}

.buttonbackground {
    position: relative;
    width: 100%;
    min-height: 62px;
    max-height: 174px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.buttontext {
    font-size: 16px;
    display: inline-block;
    width: auto; /* 버튼의 너비를 90%로 설정하여 텍스트에 맞게 조정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비로 설정 */
    word-break: break-all;
    font-family: Pretendard;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: normal; /* 줄바꿈 허용 */
}

.buttonArray {
    min-width: 100px;
    max-width: 73%;
    min-height: 62px;
    max-height: 100%;
    gap: 10px;
    box-shadow: 0px 4px 10px 0px rgba(67, 0, 209, 0.1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
    border: none;
    position: relative;
}

.radius_L {
    border-radius: 20px;
}

.radius_S {
    border-radius: 100px;
}

.new {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -3px;
    left: 20px;
}

.basic_new {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -5px;
    left: 20px;
}

.basic {
    border: 2px solid var(--unnamed, #FF7427);
}

.Setting {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1.9986400604248047px 2.4945898056030273px 1.9986400604248047px 1.8565491437911987px;
    margin-top: 30px;
    left: 340px;

}

.buttons {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.answering {
    display: flex;
    background: rgba(248, 248, 250, 1);
    flex-direction: column;
    overflow-y: scroll;
    height: 75%;
}

.answering_open {
    display: flex;
    background: rgba(248, 248, 250, 1);
    flex-direction: column;
    overflow-y: scroll;
    height: 45%;
}

.original {
    z-index: -1; 
    display: flex;
    background: rgba(248, 248, 250, 1);
    flex-direction: column;
    overflow-y: scroll;
    height: 85%;
}

.hiddenscroll::-webkit-scrollbar {
	display: none; /* Chrome , Safari , Opera */
}

.ans {
    height: 10%;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
}

.quesOpenBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quesOpenBox div {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.ansOpenBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ansOpenBox div {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.answer_input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Pretendard;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.30);
}

.answer_input::-webkit-input-placeholder {
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    text-align: left;
    color: rgba(0, 0, 0, 0.30);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
}

.answer_button {
    background-image: url('../../img/QnA_img/flight_ui.png');
    background-position: calc(100% - 8px) center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-right: 2%;
}

.chat {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    z-index: 7;
}

.answerbackground {
    position: relative;
    width: 100%;
    min-height: 62px;
    max-height: 174px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.answertext {
    display: inline-block;
    font-size: 16px;
    width: auto; /* 버튼의 너비를 80%로 설정하여 텍스트에 맞게 조정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비로 설정 */
    word-break: break-all;
    font-family: Pretendard;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: normal; /* 줄바꿈 허용 */
}

.button_answer{
    margin-right: 5%;
    min-width: 100px;
    max-width: 73%;
    min-height: 62px;
    max-height: 100%;
    border: none;
    gap: 10px;
    background-color: rgba(255, 155, 76, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    flex-shrink: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    .button_answer {
        margin-right: 3%; /* 768px 이상일 때 적용할 마진 값 */
    }
}

.clicked {
    background-color: rgba(93, 49, 255, 1);
}

.checkboxzone {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin-left: 10px;
}

.checkbox {
    height: 24px;
    width: 24px;
    margin-left: 6%;
    margin-bottom: 2%;
}

.clickedwrite {
    color: rgba(255, 116, 39, 1);
}

.basic_btn_background {
    position: relative;
    width: 90%;
    height: 60px;
    overflow: visible;
}

.basic_btn_img {
    position: absolute;
    width: 60px;
    height: 100%;
    right: -9%;
}

.hidden {
    display: none;
}