.background {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.draw {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    background: rgba(255, 255, 255, 1);
    z-index: 4;
}

.title {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    margin-top: 10px;

}

.Logo {
    position: absolute;
    margin-top: 30px;
    left: 20px;
    width: 23px;
    height: 34px;
    margin-right: 20px;
}

.question_button {
    background-image: url('../../img/QnA_img/flight_ui.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(93, 49, 255, 1);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.chat {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 1);
    height: 15%;
    z-index: 7;
}

.question_input {
    width: 88%;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.question_input::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.025em;
    text-align: left;
}

.buttons {
    position: relative;
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0px 0px;
    background: rgba(248, 248, 250, 1);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.10);
    z-index: 5;
}

.buttons::-webkit-scrollbar {
	display: none; /* Chrome , Safari , Opera */
}

.Setting {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1.9986400604248047px 2.4945898056030273px 1.9986400604248047px 1.8565491437911987px;
    margin-top: 10px;
    right: 260px;
}

.ans {
    height: 10%;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
}