@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.background {
    height: 92%;
    z-index: 4;
    background: #FFF;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 50px 50px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.background::-webkit-scrollbar {
	display: none; /* Chrome , Safari , Opera */
}

.Top {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #767676;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.Top_p {
    margin-bottom: 0;
}

.line {
    width: 30px;
    height: 5px;
    background: #BDBDBD;
    border-radius: 10px;
    position: absolute;
    left: 48%;
    top: 4%;
}

.blackline {
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background: var(--label-color-light-primary, #000);
    position: absolute;
    left: 39.5%;
    bottom: 1%;    
}

.btnwrap {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}